---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */
mark.dynamic-highlight {
  background: linear-gradient(var(--bs-highlight-bg), var(--bs-highlight-bg));
  background-size: 0% 45%;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 1.5s ease-out;
  color: inherit;
  
  &.dynamic-highlight-visible {
    background-size: 100% 45%;
  }
}

main h2 {
  border-left: 4px solid var(--heading-color);
  padding-left: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

main h3 {
  border-left: 2px solid var(--heading-color);
  border-bottom: 1px solid var(--heading-color);
  padding-left: .5rem;
  padding-bottom: .25rem;
  padding-top: .25rem;
}

main h4 {
  border-bottom: 2px solid var(--heading-color);
  padding-bottom: .25rem;
}

main h5 {
  border-bottom: 1px dashed var(--heading-color);
  padding-bottom: .25rem;
}

main u.wavy {
  text-underline-position: under;
  text-decoration-style: wavy;
}

.code-tabs {
  display: flex;
  margin-bottom: .5rem;
}
.code-tab {
  padding: .5rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid color-mix(in srgb, lightgray 30%, transparent 0%);
  transition: border-bottom .5s ease-out;
}
.code-tab.active {
  border-bottom: 2px solid var(--heading-color);
  font-weight: 700;
}
.code-block { display: none; }
.code-block.active { display: block; }