---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */
mark.dynamic-highlight {
  background: linear-gradient(var(--bs-highlight-bg), var(--bs-highlight-bg));
  background-size: 0% 45%;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 1.5s ease-out;
  color: inherit;

  &.dynamic-highlight-visible {
    background-size: 100% 45%;
  }
}

main h2 {
  border-left: 4px solid var(--heading-color);
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

main h3 {
  border-left: 2px solid var(--heading-color);
  border-bottom: 1px solid var(--heading-color);
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

main h4 {
  border-bottom: 2px solid var(--heading-color);
  padding-bottom: 0.25rem;
}

main h5 {
  border-bottom: 1px dashed var(--heading-color);
  padding-bottom: 0.25rem;
}

main u.wavy {
  text-underline-position: under;
  text-decoration-style: wavy;
}

.code-tabs {
  display: flex;
  margin-bottom: 0.5rem;
}
.code-tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid color-mix(in srgb, lightgray 30%, transparent 0%);
  transition: border-bottom 0.5s ease-out;
}
.code-tab.active {
  border-bottom: 2px solid var(--heading-color);
  font-weight: 700;
}
.code-block {
  display: none;
}
.code-block.active {
  display: block;
}

main ol.large-numbers {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  line-height: 1.25;
}
main ol.large-numbers > li {
  position: relative;
  list-style: none;
  margin: 1rem 0 1rem 2rem;
  padding: 0 0 0 1rem;
}
main ol.large-numbers > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -0.3em;
  left: -0.9em;
  width: 1em;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2em;
  font-weight: bold;
  font-weight: 700;
  color: #a8caba;
  text-shadow: 3px 3px 0 #838689, -1px -1px 0 #838689, 1px -1px 0 #838689,
    -1px 1px 0 #838689, 1px 1px 0 #838689;
  transition: color 0.25s;
}
main ol.large-numbers li:hover:before {
  color: #ebe3aa;
}

main .blur-hover {
  filter: blur(4px);
  transition: filter 0.25s;
}
main .blur-hover:hover {
  filter: blur(0);
}

.focus-font {
  font-family: cursive;
}

.annotation {
  position: relative;
  cursor: pointer;
  border-bottom: 1px dashed magenta;
}
.annotation::after {
  content: attr(data-tooltip); /* data-tooltip 속성의 내용 표시 */
  position: absolute;
  bottom: 125%;
  transform: translateX(-50%);
  background-color: var(--sidebar-bg);
  color: var(--text-color);
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--sidebar-border-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.23s;
  z-index: 100;
  width: 196px;
  font-size: 0.875rem;
}
.annotation:hover::after,
.annotation:hover::before {
  opacity: 1;
}
@media (max-width: 600px) {
  .annotation::after {
    bottom: auto;
    top: 125%;
  }
  .annotation::before {
    bottom: auto;
    top: 115%;
  }
}
